*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
}
body{
    background-color: #E5E5E5;
    color: #323238;
    font-family: 'Roboto', sans-serif;
    display: grid;
    min-height: 100vh;
}

/* DARKMODE */
main .darkMod{
    position: absolute;
    top: 10px;
    left: 6px;
}
label{
    cursor: pointer;
}

body.dark{
    background-color: rgba(0, 0, 0, 0.852);
    color: white;
}

input[type="checkbox"]{
    visibility: hidden;
}

/* PAGINA */
main{
    align-self: center;
    justify-self: center;
    gap: 15.2rem;
    display: flex;

    
}
.timer{
    display: grid;
}
.timer nav{
    font-size: 12.6rem;
    display: flex;
    align-items: end;
    place-content: center;
    
}
.timer .controles button{
    border:transparent;
    border: none;
    margin: 1.5rem;
    background-color: transparent;
    cursor: pointer;
}

.hide{
    display: none;
}
.conteinerCard{
    display: flex;
    
}
.card{
    background-color: #aeaec2;
    width: 138px;
    height: 152px;
    display: grid;
    place-content: center;
    border-radius: 24px;
    margin: 3.2rem;
    cursor: pointer;
}
.conteinerCard #som1,#som2,#som3,#som4{
    border: none;
    background: transparent;
    cursor: pointer;
}

@media (max-width: 992px){
    main{
        gap: 6.2rem;
    }

    .timer .controles{
        display: flex;
        place-content: center;
    }
}

@media (max-width: 768px){
    main{
        display: grid;
        gap: 9.2rem;
    }

    .timer .controles{
        display: flex;
        place-content: center;
    }
    
}
@media (max-width:530px){
    main{
        display: grid;
        gap: 9.2rem;
    }

    main .darkMod {
        position: relative; 
        
    }
} 